/CMakeLists.txt

base_controller/doc/*
base_controller/doc/html/*

build-mission_control*

simulation/LunArena2/meshes/
simulation/rmc_simulation/meshes/

*/.DS_Store
*/._.DS_Store

./CMakeLists.txt

*.log

*.swp
**/core.*

logs/*
roboteq_node/src/roboteqCom/roboteqCom
roboteq_node/src/roboteqDbg/roboteqDbg
*.o
*.orig
./CMakeLists.txt

*.pyc
