/CMakeLists.txt

base_controller/doc/*
base_controller/doc/html/*

simulation/LunArena2/meshes/
simulation/rmc_simulation/meshes/


*/.DS_Store
*/._.DS_Store

./CMakeLists.txt

*.log
*.rviz

*.tar
*.tar.gz

*.swp
**/core.*

logs/*
sick_tim3xx/build/*
sick_tim3xx/bin/*
roboteq_node/src/roboteqCom/roboteqCom
roboteq_node/src/roboteqDbg/roboteqDbg
simulation/gazebo_config/build/*
simulation/gazebo_config/lib/*
*.o
*.orig
*.jpeg
*.jpg
*.png
/CMakeLists.txt
