<?xml version="1.0"?>
<launch>

	<arg name="ar_sys_yaml_path" default="$(find vision)/misc/aruco_data/19cm_boardrmc.yml"/>

        <node name="image_proc" pkg="image_proc" type="image_proc" ns="blackfly" output="screen" />
<!--
        <node name="image_view_arsys" pkg="image_view" type="image_view" output="screen">
                <remap from="image" to="/ar_single_board/result"/>r
        </node>
-->
        <node pkg="ar_sys" type="single_board" name="ar_single_board">
                <remap from="/camera_info" to="/blackfly/camera_info" />
                <remap from="/image" to="/blackfly/image_rect_color" />

                <param name="image_is_rectified" type="bool" value="true"/>
                <param name="marker_size" type="double" value="0.19"/>
                <param name="board_config" type="string" value="$(arg ar_sys_yaml_path)"/>
                <param name="board_frame" type="string" value="board_marker" />
                <param name="draw_markers" type="bool" value="false" />
                <param name="draw_markers_cube" type="bool" value="false" />
                <param name="draw_markers_axis" type="bool" value="true" />
        </node>

</launch>
