<?xml version="1.0"?>
<launch>

        <include file="$(find rmc_2dnav)/launch/description.launch"/>

        <!-- Need to check if real or fake sensors -->
        <include file="$(find rmc_2dnav)/launch/sensors/sensors.launch"/>

	<include file="$(find rmc_2dnav)/launch/rtabmap-with-odom-tf.launch"/>

	<include file="$(find rmc_2dnav)/launch/navigation.launch"/>

        <!--<include file="$(find rmc_2dnav)/launch/sensors/localization.launch"/>-->
</launch>

