<?xml version="1.0"?>
<launch>

        <!-- tf2 args:  <x y z YAW PITCH ROLL>  Different from original tf!!! -->



<!-- Above is just for future reference incase we need it until aruco pose is figured out -->
<!--
    <node 
      pkg="tf2_ros" 
      type="static_transform_publisher" 
      name="baselink_to_imu" 
      args="0 0 0.15 0 0 0 base_link imu" >
    </node>
-->
    <node 
      pkg="tf2_ros" 
      type="static_transform_publisher" 
      name="baselink_to_kinect_link" 
      args="-0.28 0 0.20 0 -3.525562 3.14159 base_link kinect_link" >
    </node>

<!--
    <node 
      pkg="tf2_ros" 
      type="static_transform_publisher" 
      name="baselink_to_kinect_link" 
      args="-0.30 -0.40 0.4191 0 0 0 base_link servo_mount_link" >
    </node>
-->
<!-- set this to if statement for gazebo or using freenect 
    <node 
      pkg="tf2_ros" 
      type="static_transform_publisher" 
      name="baselink_to_kinect_mount_link" 
      args="-0.313685 0 0.40 1.57 0 0 base_link camera_mount_link" >
    </node>
    <node 
      pkg="tf2_ros" 
      type="static_transform_publisher" 
      name="kinect_mount_link_to_camera" 
      args="0 0 0 0 0 -2.37 camera_mount_link camera_link" >
    </node>
-->

    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="map_to_submap_tf" 
      args="-0.457 0 0.60 0 0 3.14159 map submap 25">
    </node>
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="submap_to_arena_tf" 
      args="0 0 0 1.57 0 0 submap arena 25">
    </node>


    <node
	pkg="tf"
	type="static_transform_publisher"
	name="imu_to_rotated_imu"
	args="0 0 0 3.14159 1.570795 0 imu new_imu 25">
    </node>

<!-- 
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="temp_odom_to_base_link" 
      args="0 0 0 0 0 0 odom base_link 25">
    </node>
 -->

<!--
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="marker2_to_map" 
      args="0 0 0 0 0 0 arena marker2 25">
    </node>
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="marker2_to_marker" 
      args="0 0 0 0 1.57 0 marker2 marker 25">
    </node>
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="arsys_rotate_z_to_x" 
      args="0 0 0 1.57 0 0 marker board_marker 25">
    </node>
-->

<!--     <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="arsys_rotate_z_to_x" 
      args="0 0 0 0 0 -1.57 marker board_marker 25">
    </node>
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="marker2_to_marker" 
      args="0 0 0 0 -1.57 0 marker2 marker 25">
    </node>
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="marker2_to_map" 
      args="0 0 -0.4 0 0 0 arena marker2 25">
    </node> -->

</launch>

