<?xml version="1.0"?>
<launch>

        <!-- tf2 args:  <x y z YAW PITCH ROLL>  Different from original tf!!! -->
<!--
    <node 
      pkg="tf" 
      type="static_transform_publisher" 
      name="baselink_to_blackfly_mount" 
      args="-0.45 0.0 0.47 3.14195 0 0 base_link blackfly_mount_link 25" >
    </node>
    <node 
      pkg="tf" 
      type="static_transform_publisher" 
      name="baselink_to_imu" 
      args="0 0 0 0 0 0 base_link imu 25" >
    </node>
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="arsys_to_map" 
      args="0 0 0.5 0 1.57 0 map board_marker 25">
    </node>
-->
<!--
    <node 
      pkg="tf2_ros" 
      type="static_transform_publisher" 
      name="baselink_to_blackfly_mount" 
      args="0 0 0 0 0 0 base_link blackfly_mount_link" >
    </node>
  -->
<!--
    <node 
      pkg="tf" 
      type="static_transform_publisher" 
      name="baselink_to_imu" 
      args="0 0 0 3.14159 0 0 base_link imu 10" >
    </node>
-->

<!--
    <node 
      pkg="tf" 
      type="static_transform_publisher" 
      name="baselink_to_kinect_mount_link" 
      args="-0.313685 0 0.40 -3.14159 0 0 base_link camera_mount_link 25" >
    </node>
   <node 
      pkg="tf" 
      type="static_transform_publisher" 
      name="kinect_mount_link_to_camera" 
      args="0 0 0 0 2.37 0 camera_mount_link camera_optical_link 25" >
    </node>
    <node 
      pkg="tf" 
      type="static_transform_publisher" 
      name="camera_optical_link" 
      args="0 0 0 -1.57 0 0 camera_optical_link camera_link 25" >
    </node>
-->


<!-- Above is just for future reference incase we need it until aruco pose is figured out -->

    <node 
      pkg="tf2_ros" 
      type="static_transform_publisher" 
      name="baselink_to_imu" 
      args="0 0 0.15 0 0 0 base_link imu" >
    </node>

<!--     <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="arsys_rotate_z_to_x" 
      args="0 0 0 1.57 0 0 marker board_marker 25">
    </node>
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="marker2_to_marker" 
      args="0 0 0 0 3.14159 0 marker2 marker 25">
    </node>
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="marker2_to_map" 
      args="0 0 0 -1.57 0 0 arena marker2 25">
    </node> -->
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="arsys_rotate_z_to_x" 
      args="0 0 0 0 0 -1.57 marker board_marker 25">
    </node>
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="marker2_to_marker" 
      args="0 0 0 0 -1.57 0 marker2 marker 25">
    </node>
    <node
      pkg="tf" 
      type="static_transform_publisher" 
      name="marker2_to_map" 
      args="0 0 -0.4 0 0 0 arena marker2 25">
    </node>
    <node 
      pkg="tf2_ros" 
      type="static_transform_publisher" 
      name="baselink_to_kinect_mount_link" 
      args="-0.313685 0 0.40 1.57 0 0 base_link camera_mount_link" >
    </node>
   <node 
      pkg="tf2_ros" 
      type="static_transform_publisher" 
      name="kinect_mount_link_to_camera" 
      args="0 0 0 0 0 -2.37 camera_mount_link camera_link" >
    </node>
</launch>

