<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="world_name" value="$(find rmc_simulation)/worlds/LunArena.world"/>
  </include>

  <node name="robot_tf_publisher" pkg="robot_setup_tf" type="robot_tf_publisher"/>


  <node pkg="tf" type="static_transform_publisher" name="base_footprint_broadcaster" args="0 0 0 0 0 0 base_footprint base_link  50" />
  <node pkg="tf" type="static_transform_publisher" name="blackfly_broadcaster" args="0.0718557 -0.90 0.525 0 0 -1.57 base_link blackfly_mount_link 50" />

  <param name="robot_description" textfile="$(find rmc_simulation)/rmc_simulation.sdf" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-sdf -param robot_description -model rmc_simulation"
    output="screen">
  </node>
<!--
  <include file="$(find gazebo_config)/gazeboekfrmc.launch"/>
--> 
 <include file="$(find gazebo_config)/aruco_markers/multi/multi-boards.launch"/>

</launch>
